[tool.poetry]
name = "mllm"
version = "0.1.10"
description = "Multimodal Large Language Models"
authors = ["Patrick Barker <patrickbarkerco@gmail.com>"]
license = "Apache 2.0"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"
litellm = "^1.35.29"
tenacity = "^8.2.3"
threadmem = "^0.2.26"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
